@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=cyrillic');

.inline-box {
  font-size: 20px;
  display: inline-block;
  background-color: #D3D3D3;
  /*color: #C0C0C0;*/
}

.inline-box:hover {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  color: #FF0000;
}

.header {
	text-align: center;
}