@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", sans-serif;
}

nav {
  display: block;
  margin: 67px auto 100px;
  width: 960px;
  padding-left: 164px;
}

.link {
  display: inline-block;
  font-size: 14px;
  /*font-family: "Playfair Display", sans-serif;*/
  color: rgb( 98, 98, 98);
  text-transform: uppercase;
  line-height: 1.714;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  color: #03a9f4;
}

.link--1 {
  margin-right: 124px;
}

.link--2 {
  margin-right: 124px;
}

.link--3 {
  margin-right: 124px;
}

.row {
  margin: 0 auto;
  width: 960px;
  margin-bottom: 110px;
}

.card {
  display: inline-block;
  width: 470px;
  padding: 0 25px 0 25px;
  color: rgb( 98, 98, 98);
  /*font-family: "Playfair Display", sans-serif;*/
  font-size: 14px;
}

.card__img {
  text-align: center;
  max-width: 470px;
  margin-bottom: 30px;
}

.card__tooltip {
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb( 180, 173, 158);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.card__title {
  font-size: 29.5px;
  margin-bottom: 38px;
}

.card__description {
  max-height: 62px;
  overflow: hidden;
  line-height: 1.6;
  margin-bottom: 20px;
}

.btn-load {
  display: block;
  width: 163px;
  height: 59px;
  border-width: 1px;
  border-color: rgb( 98, 98, 98);
  border-style: solid;
  text-align: center;
  background-color: transparent;
  font-size: 20px;
  color: rgb( 98, 98, 98);
  margin: 0 auto;
}

.btn-wraper {
  margin-top: -50px;
  margin-bottom: 70px;
}