html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*на реальных проектах в 99% случаев прописывают прописывай и привыкай*/
}

.site-navigation li a::before {
	content: "\2192";
}


 .masthead {
	max-width: 980px;
	margin: auto;
	height: 100px;
	line-height: 90px;
	border-bottom: 3px solid #212121;
}

.masthead:hover { 
	border-width: 10px; 
}

.site-navigation {
	margin: auto;
	font-family: Roboto, sans-serif;
}

.site-navigation li {
	float: left;
	list-style-type: none;
}


.site-navigation a {
	display: block;
	padding: 0 10px;
	font-size: 20px;
	color: #212121;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
}

.site-navigation li:nth-child(3n+1) a {
	color: #0E1116;
	background-color: #88292F;   
}

.site-navigation li:nth-child(3n+2) a {
	color: #0E1116;
	background-color: #5DB7DE;     
}

.site-navigation li:nth-child(3n+3) a {
	color: #0E1116;
	background-color: #0D5D56;    
}

.site-navigation a:hover {
	color: #03a9f4;
}

.site-navigation a:focus {
	color: #ff4081;
}

